*{
    margin: 0;
}


nav{
    width: 100%;
    background-color: #0050FF;
    font-family: sans-serif;
    padding: 15px;
    box-sizing: border-box;
    
}

header{
    display: inline;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px;
}

h1{
    display: inline;
    font-size: 250%;
    color: #E2001A;
}

a:visited{

    color: inherit;

}

.nav_links{
    padding: 15px;
    padding-left: 0;
    padding-bottom: 5px;
}

.nav_links li{
    display: inline-block;
    font-weight: bold;
    color: #FFCC00;
    font-size: 130%;
    margin-right: 120px;
    transition: all 0.7s;
}

.nav_links li:hover{
     
    transform: translateY(-3px);
}

main{
    width: 100%;
    box-sizing: border-box;
}

.contenido_principal{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: safe;
}

.texto_principal{
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-wrap: wrap;

}

.sonic_poster{
    width: 30%;

}

.seccion_galeria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

}

.titulos_galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.imagenes_galeria{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;


}