*{
    margin: 0;
}


nav{
    width: 100%;
    background-color: #0050FF;
    font-family: sans-serif;
    padding: 15px;
    box-sizing: border-box;
    
}

header{
    display: inline;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px;
}

h1{
    display: inline;
    font-size: 250%;
    color: #E2001A;
}

a:visited{

    color: inherit;

}

.nav_links{
    padding: 15px;
    padding-left: 0;
    padding-bottom: 5px;
}

.nav_links li{
    display: inline-block;
    font-weight: bold;
    color: #FFCC00;
    font-size: 130%;
    margin-right: 120px;
    transition: all 0.7s;
}

.nav_links li:hover{
    border-bottom: 2px solid #FFCC00 ; 
    transform: translateY(-3px);
}